<div class="container">
  <div class="card">
    <small>June 24, 2016</small>
    <h2>Setting up VSCode Development Environment</h2>
    <p>Typescript + VSCode</p>
    <p>NPM > Gulp/Grunt</p>
    <p>Development vs Production</p>
    <p>Rapid Development Tools</p>
    <p>Production Server</p>
    <p>Deployment</p>
    <p>Testing...?</p>
    <p>Nick</p>
  </div>
</div>

<div class="container">
  <div class="card">
    <small>June 22, 2016</small>
    <h2>Our story begins...</h2>
    <p>I finally got around to building a personal website. Mostly just to put the domain to more use than package names in all my Java projects... Maybe I'll actually start a blog!</p>
    <p>Quickly stitched it together using Node.js/Express and all that fun stuff. Check out the source code <a href="https://github.com/nicholas-robson/dkydev_webapp">here</a>. I think I will problably write a small, light-weight blog editor (like there aren't enough of those out there).
    But for now we'll stick to static views.</p>
    <p>Nick</p>
  </div>
</div>