html {
    font-size: 1.08em;
    height:100%;
}

body {font-family: 'Roboto',sans-serif;font-size: 1.0rem;line-height: 1.5em;color: #181a1b;font-weight: 400;height: 100%;background: #ffffff}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0.4em 0 0.6em;
  font-family: 'Roboto',sans-serif;
  font-weight: inherit;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 4em;
}

h2 {font-size: 2.4em;}

h3 {font-size: 2em;}

h4 {font-size: 1.5em;}

.card > h2 {
    margin-bottom:0px;
}

small, .font-small {
    font-size: 0.8em;
}

.alert-danger {
    background: #f14d54;
}

.alert-success {
    background: #72de23;
}

.alert-warning {
    background: #e49500;
}

.alert-info {
    background: #00c3e4;
}

.alert {
    padding: 12px;
    margin: 15px 25px 15px;
    color: #ffffff;
    border-radius: 5px;
}

.title {
    font-size: 3.2em;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 6px;
    line-height: 1.2em;
    display: block;
    margin: 0px auto;
    width: 220px;
}

.header > .title > img {
    display:block;
    margin: 10px 0px 30px;
    width:220px;
}

.footer .title {
    margin-top:15px;
    width:160px;
}

.footer .title > img {
    display:block;
    margin: 0px -1px 10px;
    width:160px;
}

.title:hover {
    color:#ffffff;
}

.footer > .social {
    margin:10px 0px 10px 0px;
}

.text-center {
    text-align: center;
    vertical-align: middle
}

.post-date {
    color: #333333;
    font-size: 1.0em;
}

.container {
    margin: 0px auto;
    max-width: 800px;
}

.menu-container {
    background:#541cb9;
}

.body-container {
    padding:0px 20px;
}

.header {
    margin-top: 0px;
    width:100%;
    padding: 20px 0px 0px;
    background: #181a1b;
    height: auto;
    color: white;
    margin-bottom:20px;
    
}

a {
    color: #12afec;
}

.card {
    padding: 25px 0px;
    margin-top: 0px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    overflow: visible;
}

.card img {
    max-width: 100%;
    margin: 35px auto 25px;
    display: block;
}

label {
    font-weight:bold;
}

.input {
    width: 100%;
    padding: 4px 8px;
    border-radius:6px;
    border: 1px solid #aeb4b7;
    box-sizing: border-box; 
}

.input-group {
    margin-bottom: 5px;
}

.actions {
    float:right;
    margin-bottom: 5px;
    overflow: hidden;
}

.actions > a, .actions button {
    box-sizing: border-box;
    display: inline-block;
}

.button-link {
    color: #03adef;
    text-decoration: underline;
    padding: 8px 14px;
    background:none;
    border:none;
    line-height: normal;
}

.clearfix {
    clear:both;
}

table {
    width:100%;
}

th, td {
    padding: 6px 12px;
}

tr {
    border-bottom: 1px solid #e5e7e8;
}

thead {
    border-bottom: 2px solid #e5e7e8;
}

a.next-link {
    display: block;
    text-align: center;
    margin:20px;
}

.social {
    margin-top:10px;
}

#disqus_thread {
    padding:15px;
}

.footer {
    padding: 20px 0px 20px;
    margin: 45px 0px 0px;
    background: #efeff0;
}

.menu {
    width:100%;
    font-size:0px;
}
.menu > a {
    width:25%;
    padding:15px 0px;
    text-align: center;
    display:inline-block;
    color:white;
    text-decoration: none;
    font-size:17px;
}

.menu > a:hover {
    color:#181a1b;
    background:white;
}