html {
    font-size: 1.08em;
    height:100%;
}

body {font-family: 'Roboto',sans-serif;font-size: 1.0rem;line-height: 1.5em;color: #181a1b;font-weight: 400;height: 100%;background: #e5e7e8;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0.2em 0 0.4em;
  font-family: 'Roboto',sans-serif;
  font-weight: inherit;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h1 {
  margin-top: 0;
  font-size: 4em;
}

h2 {font-size: 1.8em;}

h3 {font-size: 2em;}

h4 {font-size: 1.5em;}


small, .font-small {
    font-size: 0.8em;
}

.alert-danger {
    background: #f14d54;
}

.alert-success {
    background: #72de23;
}

.alert-warning {
    background: #e49500;
}

.alert-info {
    background: #00c3e4;
}

.alert {
    padding: 12px;
    margin: 15px 25px 15px;
    color: #ffffff;
    border-radius: 5px;
}

.title {
    font-size: 3.2em;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 6px;
    line-height: 1.2em;
    display: block;
    margin: 0px auto;
    width: 206px;
}

.title > img {
    display:block;
    margin: -5px 58px -15px;
    height: 38px;
}

.title:hover {
    color:#ffffff;
}

.text-center {
    text-align: center;
    vertical-align: middle
}

.card-container {
    width:100%;
    margin: 15px 0px;
}

.post-date {
    color: #333333;
    /* background: #0099b3; */
    /* padding: 6px 8px; */
    /* display: inline-block; */
    /* border-radius: 5px; */
    font-size: 1.0em;
}

.middle-col {
    padding:0px;
    
}

.middle-col > .row {
    margin: 20px 0px;
}

.left-col > div {
    margin-top: 0px;
    top: 50%;
    position: relative;
}

.left-col {
    background: #181a1b;
    height: auto;
    display: block;
    color: white;
    padding: 20px 0px;
}

a {
    color: #12afec;
}

.card {
    padding: 35px 45px;
    background-color: white;
    margin:0px 0px;
    border-bottom: 2px solid #e1e1e1;
    overflow: visible;
}

@media (min-width: 1024px) {
  h2 {font-size: 2.4em;}
  
    .middle-col {
        display: block;
        height: auto;
        
        top:0px;
        bottom:0px;
        position:absolute;
        overflow: auto;
        max-height: 100%;
        right: 0;
        left: 320px;
        padding:20px 0px 10px 0px;
    }

    .middle-col > .container {
        max-width:800px;
    }

    .middle-col > .row {
        margin: 10px 0px;
    }
    .left-col {
        position: absolute;
        width:320px;
        height:100%;
        padding: 0px;
    }
    .left-col > div {
    margin-top: -60px;
    }

    .card {
    margin: 0px 35px 10px;
    
  }
}

label {
    font-weight:bold;
}

.input {
    width: 100%;
    padding: 4px 8px;
    border-radius:6px;
    border: 1px solid #aeb4b7;
    box-sizing: border-box; 
}

.input-group {
    margin-bottom: 5px;
}

.actions {
    float:right;
    margin-bottom: 5px;
    overflow: hidden;
}

.actions > a, .actions button {
    box-sizing: border-box;
    display: inline-block;
}

.button-link {
    color: #03adef;
    text-decoration: underline;
    padding: 8px 14px;
    background:none;
    border:none;
    line-height: normal;
}

.clearfix {
    clear:both;
}

table {
    width:100%;
}

th, td {
    padding: 6px 12px;
}

tr {
    border-bottom: 1px solid #e5e7e8;
}

thead {
    border-bottom: 2px solid #e5e7e8;
}